html, body {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

p {
    font-weight: 300;
    font-size: 16px;
}

.navbar {
    background: none;
    border: none;
    margin-bottom: 0;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
}

#header {
    color: white;
    font-size: 20px;
    opacity: 0.8;
}

.primary-content {
    padding-right: 10vw;
    padding-left: 10vw;
    color: white;
    margin: auto;
}

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.img-thumbnail {
    height: 40vh;
    width: auto;
}

.margin-test {
    margin: auto;
}

.navbar-header {
    color: white;
}

.macbook-frame {
    background-image: url("/img/macbook_pro_13.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.surfacebook-frame {
    max-width: 100%;
}

#north60-logo {
    height: 25vmin;
    width: 25vmin;
}

#img-android-gif {
    margin-top: 1vh;
    margin-bottom: 1vh;
    max-width: 25vmin;
}

#hackathon-img {
    /*box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);*/
    border: 1vmin solid #eee;
    border-bottom: 6vmin solid #eee;
    max-height: 40vmin;
    max-width: 100%;
}

#hack-hr {
    margin-top: 10px;
    margin-bottom: 0;
}

.vert-image-frame {
    /*box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);*/
    max-height: 60vh;
    max-width: 100%;
    margin-top: 2%;
}

.tooltip-container {
    height: 40px;
    width: 40px;
    margin-right: 2px;
    margin-left: 2px;
}

.img-circle {
    border: 2px solid #BDBDBD;
}

.tech {
    height: inherit;
    width: inherit;
    border: 1px solid #9E9E9E;
}

#firework-clip {
    max-height: 45vh;
    width: 80%;
    padding: 10%;
    padding-bottom: 11%;
    padding-top: 7%;
}

#grad {
    display: flex;
    background: red;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, red, yellow);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, red, yellow);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, red, yellow);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, red, yellow);
    /* Standard syntax */
}

#primary-background {
    display: flex;
    background-image: url("/img/sketchback.jpg");
    background-size: cover;
}

#grad-orange {
    display: flex;
    background: rgba(255, 139, 76, 1);
    background: -moz-linear-gradient(left, rgba(255, 139, 76, 1) 0%, rgba(255, 199, 102, 1) 77%, rgba(255, 199, 102, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 139, 76, 1)), color-stop(77%, rgba(255, 199, 102, 1)), color-stop(100%, rgba(255, 199, 102, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 139, 76, 1) 0%, rgba(255, 199, 102, 1) 77%, rgba(255, 199, 102, 1) 100%);
    background: -o-linear-gradient(left, rgba(255, 139, 76, 1) 0%, rgba(255, 199, 102, 1) 77%, rgba(255, 199, 102, 1) 100%);
    background: -ms-linear-gradient(left, rgba(255, 139, 76, 1) 0%, rgba(255, 199, 102, 1) 77%, rgba(255, 199, 102, 1) 100%);
    background: linear-gradient(to right, rgba(255, 139, 76, 1) 0%, rgba(255, 199, 102, 1) 77%, rgba(255, 199, 102, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8b4c', endColorstr='#ffc766', GradientType=1);
}

#grad-blue {
    display: flex;
    background: rgba(15, 184, 173, 1);
    background: -moz-linear-gradient(-45deg, rgba(15, 184, 173, 1) 0%, rgba(31, 200, 219, 1) 51%, rgba(44, 181, 232, 1) 75%, rgba(44, 181, 232, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(15, 184, 173, 1)), color-stop(51%, rgba(31, 200, 219, 1)), color-stop(75%, rgba(44, 181, 232, 1)), color-stop(100%, rgba(44, 181, 232, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(15, 184, 173, 1) 0%, rgba(31, 200, 219, 1) 51%, rgba(44, 181, 232, 1) 75%, rgba(44, 181, 232, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(15, 184, 173, 1) 0%, rgba(31, 200, 219, 1) 51%, rgba(44, 181, 232, 1) 75%, rgba(44, 181, 232, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(15, 184, 173, 1) 0%, rgba(31, 200, 219, 1) 51%, rgba(44, 181, 232, 1) 75%, rgba(44, 181, 232, 1) 100%);
    background: linear-gradient(135deg, rgba(15, 184, 173, 1) 0%, rgba(31, 200, 219, 1) 51%, rgba(44, 181, 232, 1) 75%, rgba(44, 181, 232, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0fb8ad', endColorstr='#2cb5e8', GradientType=1);
    /*background: linear-gradient(45deg, rgba(231, 89, 28, 1) 0%, rgba(237, 71, 79, 1) 100%);*/
}

#grad-pink {
    display: flex;
    background: rgba(179, 132, 250, 1);
    background: -moz-linear-gradient(left, rgba(179, 132, 250, 1) 0%, rgba(179, 132, 250, 1) 1%, rgba(202, 138, 242, 1) 12%, rgba(252, 171, 201, 1) 68%, rgba(255, 199, 253, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179, 132, 250, 1)), color-stop(1%, rgba(179, 132, 250, 1)), color-stop(12%, rgba(202, 138, 242, 1)), color-stop(68%, rgba(252, 171, 201, 1)), color-stop(100%, rgba(255, 199, 253, 1)));
    background: -webkit-linear-gradient(left, rgba(179, 132, 250, 1) 0%, rgba(179, 132, 250, 1) 1%, rgba(202, 138, 242, 1) 12%, rgba(252, 171, 201, 1) 68%, rgba(255, 199, 253, 1) 100%);
    background: -o-linear-gradient(left, rgba(179, 132, 250, 1) 0%, rgba(179, 132, 250, 1) 1%, rgba(202, 138, 242, 1) 12%, rgba(252, 171, 201, 1) 68%, rgba(255, 199, 253, 1) 100%);
    background: -ms-linear-gradient(left, rgba(179, 132, 250, 1) 0%, rgba(179, 132, 250, 1) 1%, rgba(202, 138, 242, 1) 12%, rgba(252, 171, 201, 1) 68%, rgba(255, 199, 253, 1) 100%);
    background: linear-gradient(to right, rgba(179, 132, 250, 1) 0%, rgba(179, 132, 250, 1) 1%, rgba(202, 138, 242, 1) 12%, rgba(252, 171, 201, 1) 68%, rgba(255, 199, 253, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b384fa', endColorstr='#ffc7fd', GradientType=1);
}

.carousel-inner, .carousel, .item, .container, .fill {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
}

.slide-wrapper {
    display: inline;
}

.slide-wrapper .container {
    padding: 0px;
}


/*------------------------------ vertical bootstrap slider----------------------------*/

.carousel-inner>.item.next, .carousel-inner>.item.active.right {
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    top: 0;
}

.carousel-inner>.item.prev, .carousel-inner>.item.active.left {
    transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    top: 0;
}

.carousel-inner>.item.next.left, .carousel-inner>.item.prev.right, .carousel-inner>.item.active {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    ;
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    top: 0;
}


/*------------------------------- vertical carousel indicators ------------------------------*/

.carousel-indicators {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 20px;
    right: 10px;
    left: auto;
    width: auto;
}

.carousel-indicators li {
    display: block;
    margin-bottom: 5px;
    border: 1px solid #fff;
}

.carousel-indicators li.active {
    margin-bottom: 5px;
    background: #fff;
}


/*------------------------------- outlined buttons ------------------------------*/

.btn-outline {
    margin: 5px;
    margin-top: 10px;
    background-color: transparent;
    color: inherit;
    transition: all 0.5s;
    border-color: white;
}

.btn-default.btn-outline:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-color: white;
    color: white;
}

.fa {
    margin-right: 5px;
}


/*------------------------------- Image Gallery for Art ------------------------------*/

.slider {
    width: 70vmin;
    height: 70vmin;
    -webkit-perspective: 100vmin;
    perspective: 100vmin;
    margin: auto;
    -webkit-perspective-origin: top center;
    perspective-origin: top center;
    position: relative;
    box-sizing: border-box;
}

.slider__item {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5vmin;
    padding-top: 10vmin;
    box-sizing: border-box;
    -webkit-transition: -webkit-transform 0.18s ease;
    transition: -webkit-transform 0.18s ease;
    transition: transform 0.18s ease;
    transition: transform 0.18s ease, -webkit-transform 0.18s ease;
}

.slider__item:nth-child(1) {
    -webkit-transform: translate3d(0, 0, 0vmin);
    transform: translate3d(0, 0, 0vmin);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    z-index: 7;
}

.slider__item:nth-child(2) {
    -webkit-transform: translate3d(0, 0, -15vmin);
    transform: translate3d(0, 0, -15vmin);
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
    z-index: 6;
}

.slider__item:nth-child(3) {
    -webkit-transform: translate3d(0, 0, -30vmin);
    transform: translate3d(0, 0, -30vmin);
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    z-index: 5;
}

.slider__item:nth-child(4) {
    -webkit-transform: translate3d(0, 0, -45vmin);
    transform: translate3d(0, 0, -45vmin);
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
    z-index: 4;
}

.slider__item:nth-child(5) {
    -webkit-transform: translate3d(0, 0, -60vmin);
    transform: translate3d(0, 0, -60vmin);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    z-index: 3;
}

.slider__item:nth-child(6) {
    -webkit-transform: translate3d(0, 0, -75vmin);
    transform: translate3d(0, 0, -75vmin);
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
    z-index: 2;
}

.slider__item:nth-child(7) {
    -webkit-transform: translate3d(0, 0, -90vmin);
    transform: translate3d(0, 0, -90vmin);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    z-index: 1;
}

.slider__item:nth-child(8) {
    -webkit-transform: translate3d(0, 0, -105vmin);
    transform: translate3d(0, 0, -105vmin);
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
    z-index: 0;
}

.slider__image {
    max-width: 100%;
    max-height: 100%;
    background-color: #999;
    /*border: 1.5vmin solid #eee;*/
    box-sizing: border-box;
    /*box-shadow: 0px 3vmin 3vmin rgba(0, 0, 0, 0.75), 0 -1.5vmin 2.7vmin rgba(0, 0, 0, 0.75);*/
    overflow: hidden;
    margin: auto;
    display: block;
    -webkit-transition: opacity 0.2s ease, -webkit-transform 0.18s ease;
    transition: opacity 0.2s ease, -webkit-transform 0.18s ease;
    transition: transform 0.18s ease, opacity 0.2s ease;
    transition: transform 0.18s ease, opacity 0.2s ease, -webkit-transform 0.18s ease;
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
}

.slider__caption {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    margin-top: 10px;
}

.slider__btn {
    margin: auto;
    cursor: pointer;
    font-size: 50px;
}


/*------------------------------- Media Queries ------------------------------*/


/*iPhone 5 vertical*/

@media screen and (max-width: 330px) {
    #hackathon-title {
        display: none;
    }
    #hack-hr {
        display: none;
    }
}


/*iPhone 5 horizontal*/

@media screen and (max-height: 330px) {
    #hackathon-title {
        display: none;
    }
    #hack-hr {
        display: none;
    }
    #grad-pink h3 {
        display: none;
    }
    #grad-pink h1 {
        margin-top: 0;
    }
    #grad-orange .macbook-frame, #grad-blue .macbook-frame {
        max-height: 20vmin;
    }
    #firework-clip {
        max-height: 30vh;
        padding-top: 10px;
    }
}


/*vertical mobile*/

@media screen and (max-width: 450px) {
    #img-android-gif, .vert-image-frame {
        max-height: 35vh;
    }
    .macbook-frame {
        margin-top: 5vmin;
    }
    h1 {
        font-size: 30px;
    }
    #grad-blue h3 {
        font-size: 20px;
    }
    #grad-pink h3 {
        display: none;
    }
    p {
        font-size: 13px;
    }
}


/*horiztonal mobile*/

@media screen and (max-height: 450px) {
    #img-android-gif {
        max-height: 35vmin;
    }
    h1 {
        font-size: 20px;
    }
    #primary-background h1 {
        font-size: 36px;
    }
    .btn-outline {
        font-size: 15px;
    }
    .slider {
        width: 60vmin;
        height: 60vmin;
    }
    #grad-blue h1 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #grad-blue h3 {
        font-size: 15px;
    }
    #grad-pink h3 {
        font-size: 20px;
        margin-top: 5px;
    }
    .vert-image-frame, .macbook-frame, .surfacebook-frame {
        max-height: 40vmin;
    }
    .macbook-frame {
        margin-top: 2vmin;
    }
    p {
        font-size: 13px;
    }
}
